<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>$title$</title>
        $if(description)$
            <meta name="description" content="$description$">
        $endif$
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//use.typekit.net/fzm3lho.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" type="text/css" href="/styles/all.css" />
    </head>
    <body>
        <div id="container">
            $body$
            <footer>
                <p>You are reading the personal blog of <a href="http://twitter.com/haxorize">Nick Bourgeois</a>. It&rsquo;s built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>, and the code is available on <a href="https://github.com/haxorize/haxorize.com/">GitHub</a>.</p>
            </footer>
        </div>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-39096952-1');ga('send','pageview');
        </script>
    </body>
</html>
